@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color: black;
    color:white;
    display: flex;
    font-family: Montserrat;
}

#foto_perfil {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}


.profile{
    text-align: center;
    height: 600px;
    padding: 50px;
    border-right: solid 3px purple;
}

<<<<<<< HEAD
.projetos:hover {
    border: solid 3px purple;
    color:purple;
    font-weight: bolder;
    background-color: black;
=======
#social_media{
    width: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between
>>>>>>> master
}

.welcome{
    font-size: 20px;
}

.container{
    padding: 50px;
}

.description {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: solid 3px purple;
}

button{
    width: 120px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover{
    background-color: black;
    color: purple;
    border: 3px solid purple;
}

#skills_logo{
    width: 50px;
    height: 50px;
    margin: 10px;
}

.imagens_skills{
    display: flex;
    align-items: center;
}

.github{
    margin: 0 auto;
}

.background_github{
    background-color: white;
    width: 60px;
    height: 60px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}